// fonts
$roboto: 'Roboto', sans-serif;
$rubic: 'Rubik', sans-serif;
$kanit: 'Kanit', sans-serif;

// colors
$light: #fff7e5;
$base: #e6ab37;
$dark-base: #252015;


h2 {
    font-size: 48px;
    font-weight: normal;
}

h3 {
    font-size: 32px;
}

.green {
    background-color: #89cf50;
}

.yellow {
    background-color: #d89e29;
}

.red {
    background-color: #da5d5d;
}
