.main {
    padding-right: 200px;
    padding-left: 200px;
}

.about-title {
    text-align: center;
}

.privacy-container {
    font-size: 18px;
    margin-top: 24px;
}

.privacy-text {
    text-indent: 2em;
}
