<footer class="footer">
    <div class="footer-inner">
        <a href="/policy" class="policy">Политика конфиденциальности</a>
        <div class="social-container">
            <a href="https://www.youtube.com/channel/UC9BGeNVXBjySvlzpefhwlVg" target="_blank"><img src="images/yt.png" alt="youtube: Vortex" class="social-icon yt-icon"></a>
            <a href="https://vk.com/kupyhalvu" target="_blank"><img src="images/vk.png" alt="vk" class="social-icon vk-icon"></a>
        </div>
        <div class="footer-right">
            <button class="scroll-btn"></button>
            <a href="mailto:vanutin.vitaly@yandex.ru" class="use">Написать на почту</a>
        </div>
    </div>
</footer>